Makefile.in
configure
config.in
*~
.*
INSTALL
aclocal.m4
autom4te.cache/
install-sh
missing
build/
.settings/
depcomp
Makefile
config.*
*.o
stamp-h1*
nodes.db
distdb.conf
libtool
*.la
*.lo
distdb
distdb.*
html/
latex/
doc/
include/rpc.old.h
src/rpc_op.old.c
*.so
